.Button {
    color:white;
    background-color: green;

    font-size: medium;
    padding: 0.5em 10px;
    margin: 0 10px;

    border: none;
    border-radius: 7px;
    box-shadow: 10px 10px 10px aquamarine;
}

.Button img {
    max-width: 2em;
    max-height: 2em;

    display: inline;
}
